<div class="animals-container">
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="loadingService.loading$ | async" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>

  <div
    *ngIf="
      !(loadingService.loading$ | async) && animals.length > 0;
      else noAnimals
    "
    class="cards-wrapper"
  >
    <mat-card *ngFor="let animal of animals" class="animal-card">
      <img mat-card-image [src]="animal.imageUrl" alt="{{ animal.name }}" />

      <mat-card-content>
        <p><strong>Type:</strong> {{ animal.type }}</p>
        <p><strong>Feed Number:</strong> {{ animal.feedNumber }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="secondary" (click)="openFoodDialog(animal)">
          View Food List
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #noAnimals> </ng-template>
</div>
